# Lecture 2: Numbers and variables, strings and lists

In this lecture, we will introduce basic numerical operations in Python. In particular, we will discuss:
* Python's representation of numbers.
* Operations on numbers.
* Identity and equality of variables.

## Python as a calculator

Because Python s an interactive language, it is a very practical substitute for a calculator. Let's try a few simple computations.

The easiest way to do this is to type in the computation that you would like to do; for example,

In [23]:
# addition
2 + 2

4

In [24]:
# multiplication and addition
2 * (1 + 2)

6

In [25]:
# division turns integers into floating-point numbers; i.e., decimals
12/6

2.0

In [26]:
# division which results in a decimal point
12/5

2.4

In [27]:
# remainder after division
12%5

2

In [5]:
# taking powers
2 ** 2

4

Most of the same operations work with floating point numbers; however, some surprises are possible.

In [32]:
# addition
1.4 + 1.2

2.5999999999999996

In [4]:
#taking powers
2.2 ** 2.4

6.63459525803801

In [35]:
# remainders
12.7 % 11.5

1.1999999999999993

We didn't expect that when taking the remainder, since ```12.7 - 1*11.5 = 1.2 ```.

Recall that ```%``` refers to the remainder after division. In this case, 12.7 "goes into" 11.5 one time.

Just like in C++, Python's implementation of floating-point numbers (i.e., decimals) has finite precision. This means that most numbers cannot be represented exactly. The result above reflects this fact. Python cannot represent 1.2 exactly, so it uses a close approximation in floating-point representation.

As you might expect, the square root of ```-1``` yields a complex number.

In [10]:
import cmath
cmath.sqrt(-1)

1j

Again, here we are getting a slight error in the real part being a really small non-zero number, in Python complex numbers are represented by ```j``` and not by $i$ as you may be used to.

## Variables

When writing code, it is almost always best to give names to important numbers. You can then use these numbers in subsequent computations, this names are called variables.

In [39]:
# adding x and y is the same as adding their values (27.3 and 5.4)
x = 27.3
y = 5.4
x + y

32.7

This code block creates the variables ```x``` and ```y``` with values 27.3 and 5.4, respectively, and then prints their sum.

You can also assign names to the outputs of computations.

In [38]:
# create a variable z which has value x + y
z = x + y
z

32.7

### Identity and Equality of Variables

When are two variables "the same"? It's easy to check the ```id``` of a variable in Python -- this indicates the location in memory to which the name of the variable points. We can also use the ```is``` binary operator to check whether two variables point to the same memory location. The ```is``` operator should not be confused with ```==```. The ```==``` operator checks whether two variables have the same value, regardless of whether they refer to the same object.

To clarify the difference, consider the following scenarios:
1. You and I have each laid claim to the same stack of four cookies. Then, ```your_stack``` and ```my_stack``` are both variables with value 4. Thus, ```your_stack == my_stack``` (they have the same value). Because each variable refers to the same stack of cookies, it also holds that ```your_stack is my_stack```.
2.On the other hand, suppose that we each have a stack of four cookies. Then, ```your_stack``` and ```my_stack``` are again variables of value 4, and ```your_stack == my_stack```. However, these two variables now refer to different stacks of cookies, and so it is **not** the case that ```your_stack is my_stack```.

Variables whose values are immutable (cannot be changed) often share the same memory. Integers, floats, and strings are examples of immutable types in Python.

In [40]:
# initialise x and y, are they equal?
x = 4
y = 4
x == 4

True

In [42]:
# are x and y the same?
id(x), id(y)

(4348128456, 4348128456)

In [14]:
# Checking if x and y are the same
id(x)==id(y)

On the other hand, mutable variables like lists will generally not share memory (we haven't formally introduced lists yet -- all you need to know for now is that they are data structures can be altered).

In [11]:
# initialise two lists that are the same
a = [1, 2, 3]
b = [1, 2, 3]
# assign a new variable c the value of a
c = a

In [12]:
# are they the same? (are their ids the same)
id(a), id(b), id(c)

(4387518464, 4387483520, 4387518464)

In [15]:
# are they the same, do they hold the same value?
print(id(a) == id(b))
print(id(a) == id(c))

False
True

In [18]:
# what about c?

In [16]:
# are a and c the same, do they hold the same value?
a == c

True

# Working with text data: Strings

A *string* is a series of one or more characters enclosed in either ```'single'``` or ```"double"``` quotation marks. For most strings, it does not matter whether you use single or double quotes:

In [20]:
# two strings with the same characters but differing in being defined with single and double quotes.
a = "to boldly go"
b = 'to boldly go'
# are a and b considered having the same value?

How about if we actually want to use quotations in the string:

In [21]:
a = "Picard says 'to boldly go'"
b = 'Picard says "to boldly go"'
#c = "Picard says "to boldly go""
a

"Picard says 'to boldly go'"

What if you need to use the same kind of quotes more than once in the same string. For this we use escape characters; i.e., ```\'``` or ```\"```.

In [18]:
d = 'Picard says "That\'s Kirk\'s line"'
d

'Picard says "That\'s Kirk\'s line"'

The ```print()``` function displays a pleasant human-readable representation of many python objects.

In [19]:
print(d)

Picard says "That's Kirk's line"

### Basic string manipulations

Python gives us several ways to manipulate strings. An especially important one is concatenation, which can be achieved with ```+```:

In [21]:
# adding two strings
"to " + "boldly go"

'to boldly go'

We can also do "multiplication", in the context of strings, multiplication means repition:

In [23]:
3 * "hello world "

'hello world hello world hello world '

Concatenation is a useful tool for constructing strings using variables:

In [24]:
x = "boldly"
"to " + x + " go"

'to boldly go'

When we want to form messages involving numbers, we generally need to use the ```str()``` function to convert those numbers into strings prior to concatenation:

In [25]:
x = 9
"Deep Space " + 9

TypeError: can only concatenate str (not "int") to str

In [26]:
# let's do this using str()
"Deep Space " + str(9)

'Deep Space 9'

### String indexing

Like C++, Python uses 0-based indexing. It also supports indices to count backwards from the end of a string.

In [1]:
s = "Alpha Quadrant"

In [2]:
s[0]

'A'

In [4]:
s[-1] # to access the last element of the string

't'

Take a moment to predict the output of the following:

In [5]:
s[2], s[-2]

('p', 'n')

We can easily grab substrings using the ```:``` operator. ```s[start:stop]``` will get letters starting at index start, up to and not including index stop

In [6]:
s[0:3]

'Alp'

In [7]:
s[-4:-2]

'ra'

We can also use the syntax ```s[start:stop:interval]``` to get letters that are ```interval``` apart.

In [8]:
# every other letter from indices 0 through 5
s[0:6:2] # start is 0, stop is 6, and interval is 2

'Apa'

In [9]:
# if we leave start and stop blank indices then you want to go through the whole string
s[::2]

'ApaQarn'

In [11]:
# s backwards
s[::-1]

'tnardauQ ahplA'

An important thing you can't do with string indexing is modify the letters in a string. This is because strings are immutable (cannot be changed in place).

In [12]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

Later, we'll try out a few string methods: functions that allow you to programmatically alter strings, like this:

In [18]:
# dot notation in Python for member functions
# this function is like "pass by value" in C++
s.replace("Alpha","Gamma")

'Gamma Quadrant'

# Introduction to iterables: Lists

An *iterable* is just a collection of items that supports iteration -- you can access the objects one item at a time, often in a specified order. The simplest Python iterable is the list.

A ```list``` is an ordered sequence of arbitrary objects, which can be accessed and altered via numerical indexing. The simplext way to construct a list is to enclose a set of objects, seperated by ```,```, within brackets ```[]```. For example, here's a list of strings:

In [19]:
L = ["Kirk", "Picard", "Sisko", "Janeway"]

Lists can be accessed via index, in similar fashion to strings. Like strings, lists are 0-indexed.

In [20]:
# the string in index 2 of the list
L[2]

'Sisko'

The same indexing tricks work for lists as do for strings.

In [21]:
# every other item starting from index 1
L[1::2]

['Picard', 'Janeway']

In [22]:
# reverse the order
L[::-1]

['Janeway', 'Sisko', 'Picard', 'Kirk']

### Listomania

We really mean it when we say that lists contain arbitrary objects. These objects can have differing types, and can even be lists themselves:

In [43]:
L = ["Deep", "Space", 9, 1.4]

In [44]:
L = [["TNG", "DS9", "VOY"], ["Picard", "Sisko", "Janeway"], [1, 2, 3]]
L

[['TNG', 'DS9', 'VOY'], ['Picard', 'Sisko', 'Janeway'], [1, 2, 3]]

In [45]:
L[0]

['TNG', 'DS9', 'VOY']

In [46]:
L[1][2]

'Janeway'

Later in the course, we'll learn more convenient and powerful ways to store lists of related data.

Unlike strings, lists are mutable, and their elements can be altered in arbitrary ways. For example, we can ```append()``` elements.

In [47]:
# this append function works in a pass by reference way
L[0].append("TOS")
L[1].append("Kirk")
L[2].append(4)
L

[['TNG', 'DS9', 'VOY', 'TOS'],
 ['Picard', 'Sisko', 'Janeway', 'Kirk'],
 [1, 2, 3, 4]]

There are many other ways to modify lists, a few of which are demonstrated below:

In [48]:
L = ["Kirk","Picard", "Sisko", "Janeway"]

print("Command                L")
print("-----------------------------------")
L.remove('Kirk')                             # removes first instance of 'Kirk'
print("L.remove('Kirk')      ", L)

L.pop(1)                                     # removes element in position 1 (Sisko)
print("L.pop(1)              ", L)

L.insert(1,'Spock')                          # adds 'Spock' in index 1
print("L.insert(1, 'Spock')  ", L)

L.sort()                                     # sorts elements (ascending)
print("L.sort()              ", L)

L.reverse()                                  # reverses order of elements
print("L.reverse()           ", L)
# ---

Command                L
-----------------------------------
L.remove('Kirk')       ['Picard', 'Sisko', 'Janeway']
L.pop(1)               ['Picard', 'Janeway']
L.insert(1, 'Spock')   ['Picard', 'Spock', 'Janeway']
L.sort()               ['Janeway', 'Picard', 'Spock']
L.reverse()            ['Spock', 'Picard', 'Janeway']

### Constructing lists

Python offers many ways to construct lists, some of them more convenient than others. The method ```split()``` of string objects is one handy example. This can be used, for example, to loop over the individual words of a string.

In [52]:
s = "to boldly go"
s.split() # pass by value

['to', 'boldly', 'go']

We can also ```split()``` using other delimiters such as ```,```.

In [56]:
t = "in a mirror, darkly"
t.split(",") # we would like to not have the space before darkly, make ", " the delimiter

['in a mirror', ' darkly']

### Sorting lists

Lists can be sorted in several ways. When there is an obvious ordering of elements, Python will often infer it:

In [57]:
L = [2, 3, 4, 2, 3, 2, 2, 2, 5, 4, 3, 5, 6, 2]
L.sort()
L

[2, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6]

In [59]:
L.sort(reverse=True) # built-in option reverse. reverses the default order
L

[6, 5, 5, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2]

In [60]:
L = ["Sisko", "Picard", "Janeway", "Pike"]
L.sort()
L

['Janeway', 'Picard', 'Pike', 'Sisko']

Lists can also be sorted using arbitrary functions. For example, we can sort L1 into evens and then odds. Don't worry about the syntax of the function definition for now.

In [61]:
L = [2, 3, 4, 2, 3, 2, 2, 2, 5, 4, 3, 5, 6, 2]

# is_odd returns true if a number is odd, false otherwise.
def is_odd(x):
    return(x % 2 == 1)

L.sort(key=is_odd)
L

[2, 4, 2, 2, 2, 2, 4, 6, 2, 3, 3, 5, 3, 5]

In [62]:
False<True

True

You can even use a key function that returns multiple values, which will result in sorting by multiple attributes. For example, suppose we wanted to sort ascending within each group (odd/even).

In [63]:
# if you want even, then odd, but also in ascending order
def sorter(x):
    return(is_odd(x), x)

L.sort(key=sorter)
L

[2, 2, 2, 2, 2, 2, 4, 4, 6, 3, 3, 3, 5, 5]

We'll talk more about the syntax of these function definitions when we discuss functions and tuples.